@page
@model ClienteModel
@{
    ViewData["Title"] = "Clienti";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>n°acquisti</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clienti)

        {
            <tr>
                <td>
                    <a asp-page="ClienteDettaglio" asp-route-nome="@cliente.Nome" asp-route-cognome="@cliente.Cognome"
                        asp-route-eta="@cliente.Eta" asp-route-nacquisti="@cliente.N_Acquisti"
                        asp-route-cf="@cliente.CF">@cliente.Nome</a>
                </td>
                <td>@cliente.N_Acquisti</td>


            </tr>
        }
    </tbody>
</table>