@page
@model ProdottoModel
@{
    ViewData["Title"] = "Prodotti";
}

<h1>@ViewData["Title"]</h1>

<form method="get">
    <div class="form-group">
        <label for="minPrezzo">Min Prezzo</label>
        <input type="text" class="form-control" name="minPrezzo" />
    </div>
    <div class="form-group">
        <label for="maxPrezzo">Max Prezzo</label>
        <input type="text" class="form-control" name="maxPrezzo" />
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Filtra</button>
</form>
<br>



<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Dettagli</th>
            <th>Elimina</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var prodotto in Model.Prodotti)

        {
            <tr>
                <td>@prodotto.Nome</td>
                @if (@prodotto.Prezzo <= 300)
                {
                    <td class="text-success fw-bold">@Html.DisplayFor(model => prodotto.Prezzo)</td>
                }
                else if (@prodotto.Prezzo >= 900)
                {
                    <td class="text-danger fw-bold">@Html.DisplayFor(model => prodotto.Prezzo)</td>
                }
                else
                {
                    <td>@Html.DisplayFor(model => prodotto.Prezzo)</td>
                }
                <td>
                    <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                        asp-route-disponibilita="@prodotto.Disponibilita" asp-route-info="@prodotto.Info"
                        asp-route-dettaglio="@prodotto.Dettaglio">@Html.DisplayFor(modelItem => prodotto.Nome)</a>
                </td>
                <td>
                    <a asp-page="CancellaProdotto" asp-route-nome="@prodotto.Nome" class="btn btn-success">Elimina</a>
                </td>

            </tr>
        }
    </tbody>
</table>


<br>
<div style="height: 100px;">
    <form method="get">
        <input type="hidden" name="minPrezzo" value="@Request.Query["minPrezzo"]" />
        <input type="hidden" name="maxPrezzo" value="@Request.Query["maxPrezzo"]" />
        @for (int i = 1; i <= Model.numeroPagine; i++)
        {
            <button type="submit" class="btn btn-primary" name="pageIndex" value="@i">@i</button>
        }
    </form>
</div>




<div class="row">
    @foreach (var prodotto in Model.Prodotti)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@prodotto.Immagine" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@prodotto.Nome</h5>


                    @if (@prodotto.Prezzo <= 300)
                    {
                        <p class="card-text text-success fw-bold">@Html.DisplayFor(model => prodotto.Prezzo)$</p>
                        <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                            asp-route-Dettaglio="@prodotto.Dettaglio" class="btn btn-success">Dettaglio</a>
                    }
                    else if (@prodotto.Prezzo >= 900)
                    {
                        <p class="card-text text-danger fw-bold">@Html.DisplayFor(model => prodotto.Prezzo)$</p>
                        <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                            asp-route-Dettaglio="@prodotto.Dettaglio" class="btn btn-danger">Dettaglio</a>
                    }
                    else
                    {
                        <p class="card-text">@Html.DisplayFor(model => prodotto.Prezzo)$</p>
                        <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                            asp-route-Dettaglio="@prodotto.Dettaglio" class="btn btn-primary">Dettaglio</a>
                    }



                </div>
            </div>
            <br>
        </div>
    }
</div>


