@model BraniViewModel
@{
    ViewData["Title"] = "Brani";
}




<div class="container-sm">

    <div class="row d-flex align-items-center  ">
        <div class="col-md-9">
            <h1 class="display-6 p-3 text-muted">Brani</h1>
        </div>
 

@if (User.IsInRole("Admin"))
{
<div class="col-md-2">
<a asp-controller="Admin" asp-action="AggiungiBrano" class="bottonebrano btn border-black text-light "
style="background-color: black;">Brano <i class="fa fa-plus"></i></a>
</div>
}
else
{
<div class="col-md-2"></div>
}  



@if (Model.Brani != null)
{

<div class="dropdown col-md-1">
<form method="get" asp-action="Brano">
<div class="form-group">
<button class="btnFiltra btn me-4 border-black dropdown-toggle text-light"
style="background-color: black; " type="button" data-bs-toggle="dropdown"
aria-expanded="false">
Filtra
</button>
<ul class="dropdown-menu p-2">
<li> <label for="cercaArtista">Nome artista</label>
<input type="text" class="form-control" name="cercaArtista" />
</li>
<li> <label for="cercaTitolo">Titolo brano</label>
<input type="text" class="form-control" name="cercaTitolo" />
</li>
<br>
<button type="submit" class="btn border-black text-light "
style="background-color: black; ">Filtra</button>

</ul>

</div>

</form>
</div>
} 


<div>@Model.FiltroArtista</div>
<div>@Model.FiltroTitolo</div>
</div>


@* //  SE ACCEDE UN USER *@

@if (User.IsInRole("User"))
{
    <form method="post" asp-controller="User" asp-action="AggiungiAPlaylist"> 
    <table class="table table-striped table-bordered align-middle mt-3 rounded-table">
        <thead>
            <tr>

                <th scope="col" class="colonnePiuPiccole">#</th>
                <th scope="col" class="colonnePiccole">IMG</th>
                <th scope="col" class="ps-4">Titolo</th>
                <th scope="col" class="colonnePiuPiccole fw-medium d-none d-md-table-cell"></th>
                <th scope="col" class="ps-4 d-none d-md-table-cell"></th>
                <th scope="col" class="colonnePiuPiccole fw-medium ">Seleziona</th>

            </tr>
        </thead>
        <tbody>

            @if (Model.Brani != null)

            {

                @foreach (var brano in Model.Brani)
                {
                    <tr>
                        <th scope="row">@brano.Id</th>
                        <td>
                            <div class=" h-25 d-inline-block " style="width: 80px">
                                    <a asp-controller="Home" asp-action="BranoDettaglio" asp-route-id="@brano.Id">
                                    <img src=@brano.Immagine width="70" height="70" class="img rounded ms-1" alt="image">
                                </a>
                            </div>
                        </td>
                        <td class="ps-4">@brano.Titolo</td>
    

                        <td class="colonnePiccole">
                            <div class="d-flex justify-content-center ms-2 ">
                                <div class="form-check d-flex justify-content-center align-items-center me-3">
                                    <button type="button" class="btn" onclick="playAudio('@brano.Audio')">
                                        <i class="fa fa-play-circle fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
    


                        <td class="colonnePiccole fs-6 ps-3 d-none d-md-table-cell">
                            <a asp-controller="Home" asp-action="BranoDettaglio" class="ms-2 text-dark" asp-route-id="@brano.Id">Info</a>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center ms-2 ">
                                <div class="form-check ">

                                    <input class="form-check-input" type="checkbox" name="selezionatiBrani" value="@brano.Id">

                                    <label class="form-check-label" for="flexCheckDefault">
                                    </label>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (Model.Brani != null)
    {
        <div class=" d-flex justify-content-end ">
            <button type="submit" class="btn btn-dark border-light">Playlist <i class="fa fa-plus"></i></button>
        </div>
    }
    </form> 
    <br>

    
}


@* //  SE ACCEDE UN ADMIN *@

@if (User.IsInRole("Admin"))
{
    <form method="get" asp-controller="Admin" asp-action="RimuoviBrani">
    
    
    <table class="table table-striped table-bordered align-middle mt-3 rounded-table">
        <thead>
            <tr>

                <th scope="col" class="colonnePiuPiccole">#</th>
                <th scope="col" class="colonnePiccole">IMG</th>
                <th scope="col" class="ps-4">Titolo</th>
                <th scope="col" class="colonnePiuPiccole fw-medium d-none d-md-table-cell"></th>
                <th scope="col" class="ps-4 d-none d-md-table-cell"></th>
                <th scope="col" class="colonnePiuPiccole fw-medium ">Seleziona</th>

            </tr>
        </thead>
        <tbody>

            @if (Model.Brani != null)

            {

                @foreach (var brano in Model.Brani)
                {
                    <tr>
                        <th scope="row">@brano.Id</th>
                        <td>
                            <div class=" h-25 d-inline-block " style="width: 80px">
                                    <a asp-controller="Home" asp-action="BranoDettaglio" asp-route-id="@brano.Id">
                                    <img src=@brano.Immagine width="70" height="70" class="img rounded ms-1" alt="image">
                                </a>
                            </div>
                        </td>
                        <td class="ps-4">@brano.Titolo</td>
    

                        <td class="colonnePiccole">
                            <div class="d-flex justify-content-center ms-2 ">
                                <div class="form-check d-flex justify-content-center align-items-center me-3">
                                    <button type="button" class="btn" onclick="playAudio('@brano.Audio')">
                                        <i class="fa fa-play-circle fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
    


                        <td class="colonnePiccole fs-6 ps-3 d-none d-md-table-cell">
                            <a asp-controller="Home" asp-action="BranoDettaglio" class="ms-2 text-dark" asp-route-id="@brano.Id">Info</a>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center ms-2 ">
                                <div class="form-check ">

                                    <input class="form-check-input" type="checkbox" name="selezionatiBrani" value="@brano.Id">

                                    <label class="form-check-label" for="flexCheckDefault">
                                    </label>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model.Brani != null)
    {
        <div class=" d-flex justify-content-end ">
           
            <button class="btn btn-dark border-light">Elimina <i class="fa fa-minus"></i></button>
        
        </div>
    }


    </form>
    <br>
}




@if (Model.Brani != null)
{
    <form method="get">
        <div>

            @for (int i = 1; i <= Model.numeroPagine; i++)
            {

                if (Model.PageIndex == i)

                {
                    <button type="submit" class="active btn btn-dark" name="pageIndex" value="@i">@i</button>
                }

                else
                {
                    <button type="submit" class="btn btn-dark" name="pageIndex" value="@i">@i</button>
                }

            }
        </div>
    </form>
}

<br><br><br><br><br><br>



@* <div style="height: 100px;">
<form method="get">
<input type="hidden" name="cercaArtista" value="@Request.Query["cercaArtista"]" />
<input type="hidden" name="cercaTitolo" value="@Request.Query["cercaTitolo"]" />
</form>
</div> *@
</div>

<script>
    // JavaScript function to play the audio
    function playAudio(audioUrl) {
        var audioPlayer = document.getElementById('audioPlayer');
        audioPlayer.src = audioUrl; // Set the source to the provided audio URL
        audioPlayer.play(); // Play the audio
    }

    // Function to stop all other audio players
    function stopAllOtherAudios(currentAudio) {
        var allAudios = document.querySelectorAll('audio');

        allAudios.forEach(function (audio) {
            if (audio !== currentAudio) {
                audio.pause();
                audio.currentTime = 0;
            }
        });
    }
</script>
