@page
@model ProdottiModel
@{
    ViewData["Title"] = "Prodotti";
}
<h1>@ViewData["Title"]</h1>


<form method="get">

    <div class="form-group">
        <label for="minPrezzo">Min Prezzo</label>
        <input type="text" class="form-control" name="minPrezzo" />
    </div>
    <div class="form-group">
        <label for="maxPrezzo">Max Prezzo</label>
        <input type="text" class="form-control" name="maxPrezzo" />
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Filtra</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Dettaglio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prodotto in Model.Prodotti)
        {
            <tr>
                <td>@prodotto.Nome</td>
                <td>@prodotto.Prezzo</td>
                <td><a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                        asp-route-dettaglio="@prodotto.Dettaglio">Dettaglio</a></td>
            </tr>
        }
    </tbody>
</table>

<p>Card fatte con i div</p>
<div class="row g-0">
    @foreach (var prodotto in Model.Prodotti)
    {
        <div class="card col-md-2">
            <div class="card-header bg-primary text-light">
                <h6>@prodotto.Nome</h6>
            </div>

            <div class="card-body mx-0">
                <h6>Prezzo</h6>
                @{
                    if (prodotto.Prezzo < 200)
                    {
                        <p class="card-text text-success">@prodotto.Prezzo</p>
                        <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                            asp-route-Dettaglio="@prodotto.Dettaglio" class="btn btn-success">Dettaglio</a>
                    }
                    else if (prodotto.Prezzo < 300)
                    {
                        <p class="card-text text-success">@prodotto.Prezzo</p>
                        <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                            asp-route-Dettaglio="@prodotto.Dettaglio" class="btn btn-primary">Dettaglio</a>
                    }
                    else
                    {
                        <p class="card-text text-success">@prodotto.Prezzo</p>
                        <a asp-page="ProdottoDettaglio" asp-route-nome="@prodotto.Nome" asp-route-prezzo="@prodotto.Prezzo"
                            asp-route-Dettaglio="@prodotto.Dettaglio" class="btn btn-danger">Dettaglio</a>
                    }
                }



                    <p class="card-text">
                    <h6>Descrizione</h6>
                        @prodotto.Dettaglio
                    </p>
                </div>
            </div>
            }
        </div>
        <br>




        <form method="get">
            <input type="hidden" name="minPrezzo" value="@Request.Query["minPrezzo"]" />
            <input type="hidden" name="maxPrezzo" value="@Request.Query["maxPrezzo"]" />
            @for(int i=1;i<=Model.numeroPagine; i++)
            {
                <button type="submit" class="btn btn-primary" name="pageIndex" value="@i">@i</button>
            }
        
        </form>


            <!--button type="submit" class="btn btn-primary" name="pageIndex" value="1">1</button>
            <button type="submit" class="btn btn-primary" name="pageIndex" value="2">2</button>
            <button type="submit" class="btn btn-primary" name="pageIndex" value="3">3</button-->