@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Nome
            </th>
            <th>
                Codice
            </th>
            <th>
                Stato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Nome
                </td>
                <td>
                    @user.Codice
                </td>
                <td>
                    @user.Stato
                </td>
                <td>
                    <a asp-action="ToggleActive" asp-route-id="@user.Id">Toggle Active</a> |
                    <a asp-action="ManageRoles" asp-route-id="@user.Id">Manage Roles</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a> |
                    <a asp-action="EditCodice" asp-route-id="@user.Id">Edit Codice</a>
                </td>
            </tr>
        }
    </tbody>
</table>