@page
@model BranoDettaglioModel
@{
    ViewData["Title"] = "Dettaglio Brano";
}



<style>
    .imginfo {
        border-radius: 20px;
    }

    .card-body {
        font-size: larger;
        font-family: "Roboto";
    }

    a {
        color: rgb(0, 0, 0);
    }

    .card {
        background-color: rgb(255, 255, 255);
    }

    body {
        font-family: Montserrat;
    }
</style>

<body>

    <h1 class="display-6 p-3 text-muted">Info - @Model.Brano!.Titolo</h1>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0 p-5">
            <div class="col-md-5">
                <img src="@Model.Brano!.Immagine" class="imginfo" alt="..." width="400" height="400">
            </div>

            <div class="col-md-7">
                <div class="card-body mt-4">
                    <h5 class="card-title"> @Model.Brano!.Titolo</h5>
                    <p class="card-text mt-4 ">Artista: @Model.Brano!.Artista</p>
                    <p class="card-text ">Anno: @Model.Brano!.Anno</p>
                    <p class="card-text">Genere: @Model.Brano!.Genere</p>
                    <audio controls>
                        <source src="@Model.Brano.Audio" />
                    </audio>
                </div>
            </div>
        </div>
    </div>
    <br>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a asp-page="Brano"> <i class="bi bi-arrow-return-left"></i> Torna ai Brani</a>
        </div>
        <div class="col-md-1">
            <a asp-page="ModificaBrano" asp-route-id="@Model.Brano.Id" class="bottonebrano btn me-4 border-black  "
                style="background-color: rgb(216, 228, 255);"> Modifica</a>
        </div>
        <div class="col-md-1">
            <a asp-page="RimuoviDaBrani" asp-route-id="@Model.Brano.Id" class="bottonebrano btn me-4 border-black  "
                style="background-color: rgb(216, 228, 255);">Elimina</a>
        </div>
    </div>
</div>
</body>
<br><br>

