@page
@model BranoDettaglioModel
@{
    ViewData["Title"] = "Dettaglio Brano";
}



<style>
    .imginfo {
        border-radius: 20px;
    }

    .card-body {
        font-size: larger;
        font-family: "Roboto";
    }

    a {
        color: rgb(0, 0, 0);
    }

    .card {
        background-color: rgb(255, 255, 255);
    }

    body {
        font-family: Montserrat;
    }
</style>

<body>




    <h1 class="display-6 p-3 text-muted">Info - @Model.Brano!.Titolo</h1>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0 p-5">
            <div class="col-md-5">
                <img src="@Model.Brano!.Immagine" class="imginfo" alt="..." width="400" height="400">
            </div>

            <div class="col-md-7">
                <div class="card-body mt-4">
                    <h5 class="card-title"> @Model.Brano!.Titolo</h5>
                    <p class="card-text mt-4 ">Artista: @Model.Brano!.Artista</p>
                    <p class="card-text ">Anno: @Model.Brano!.Anno</p>
                    <p class="card-text">Genere: @Model.Brano!.Genere</p>
                    <audio controls>
                        <source src="@Model.Brano.Audio" />
                    </audio>
                    @* <div class="btn-group mt-4" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-play"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-pause"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-stop"></i>
                    </button> *@
                </div>
            </div>
        </div>
    </div>
    <br>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a asp-page="Brano"> <i class="bi bi-arrow-return-left"></i> Torna ai Brani</a>
        </div>
        <div class="col-md-1">
            <a asp-page="ModificaBrano" asp-route-id="@Model.Brano.Id" class="bottonebrano btn me-4 border-black  "
                style="background-color: rgb(216, 228, 255);"> Modifica</a>
        </div>
        <div class="col-md-1">
            <a asp-page="RimuoviDaBrani" asp-route-id="@Model.Brano.Id" class="bottonebrano btn me-4 border-black  "
                style="background-color: rgb(216, 228, 255);">Elimina</a>
        </div>
    </div>
</div>
</body>
<br><br>

@* <br>
<div class="row g-0">
<div class="col-md-4">
<img src="@Model.Brano!.Immagine" class="img-fluid rounded-start" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<h5 class="card-title">@Model.Brano.Titolo</h5>
<p class="card-text">@Model.Brano.Artista</p>
<p class="card-text">@Model.Brano.Anno</p>
</div>
<a asp-page="Brano">Torna ai Brani</a>
</div>
</div> *@


@*
<table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.Brano!.Nome)
</th>
<th>
@Html.DisplayNameFor(model => model.Brano!.Prezzo)
</th>
<th>
@Html.DisplayNameFor(model => model.Brano!.Disponibilita)
</th>
<th>
@Html.DisplayNameFor(model => model.Brano!.Info)
</th>
<th>
@Html.DisplayNameFor(model => model.Brano!.Dettaglio)
</th>
<th>Modifica</th>
</tr>
</thead>
<tbody>
<tr>
<td>
@Html.DisplayFor(model => model.Brano!.Nome)
</td>
<td>
@Html.DisplayFor(model => model.Brano!.Prezzo)
</td>
<td>
@Html.DisplayFor(model => model.Brano!.Disponibilita)
</td>
<td>
@Html.DisplayFor(model => model.Brano!.Info)
</td>
<td>
@Html.DisplayFor(model => model.Brano!.Dettaglio)
</td>
<td>
<a asp-page="ModificaBrano" asp-route-nome="@Model.Brano.Nome" class="btn btn-success">Modifica</a>
</td>
</tr>
<a asp-page="Brano">Torna a Prodotti</a>
</tbody>
</table> *@
