@page
@model BranoDettaglioModel
@{
    ViewData["Title"] = "Dettaglio Brano";
}

<h1>@ViewData["Title"]</h1>


    <br>
    <div class="row g-0">
        <div class="col-md-4">
        <img src="@Model.Brano!.Immagine" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">@Model.Brano.Titolo</h5>
            <p class="card-text">@Model.Brano.Artista</p>
            <p class="card-text">@Model.Brano.Anno</p>
        </div>
        </div>
    </div>


@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brano!.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brano!.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brano!.Disponibilita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brano!.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brano!.Dettaglio)
            </th>
            <th>Modifica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Brano!.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brano!.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brano!.Disponibilita)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brano!.Info)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brano!.Dettaglio)
            </td>
            <td>
                <a asp-page="ModificaBrano" asp-route-nome="@Model.Brano.Nome" class="btn btn-success">Modifica</a>
            </td>
        </tr>
        <a asp-page="Brano">Torna a Prodotti</a>
    </tbody>
</table> *@
