@page
@model BranoModel
@{
    ViewData["Title"] = "Brani";
}


<style>
    .colonneBottone {
        width: 150px;
    }

    .colonnePiccole {
        width: 90px;
    }

    .colonnePiuPiccole {
        width: 40px;
    }

    body {
        font-family: Montserrat;
    }


    .table {}

    .table td {
        /*
        padding-top: 5px;
        padding-bottom: 5px;
        */
        font-size: 20px;
    }

    .btn {
        font-size: x-small;
    }

    .bottonebrano {
        width: 120px;
    }

    a {
        color: rgb(0, 0, 0);
    }

    .btnFiltra {
        margin-left: 70px;
    }

    .bottonebrano {
        margin-left: 53px;
    }
</style>

@*



</div>

<br>
<button type="submit" class="btn btn-primary">Filtra</button>
</form>
<br> *@



<div class="container-sm">

    <div class="row d-flex align-items-center  ">
        <div class="col-md-9">
            <h1 class="display-6 p-3 text-muted">Brani</h1>
        </div>
        <div class="dropdown col-md-1">
            <form method="get">
                <div class="form-group">
                    <button class="btnFiltra btn me-4 border-black dropdown-toggle"
                        style="background-color: rgb(216, 228, 255); " type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Filtra
                    </button>
                    <ul class="dropdown-menu  p-2">
                        <li> <label for="cercaArtista">Nome artista</label>
                            <input type="text" class="form-control" name="cercaArtista" />
                        </li>
                        <li> <label for="cercaTitolo">Titolo brano</label>
                            <input type="text" class="form-control" name="cercaTitolo" />
                        </li>
                        <br>
                        <button type="submit" class="btn me-4 border-black  "
                            style="background-color: rgb(216, 228, 255);">Filtra</button>

                    </ul>

                </div>

            </form>
        </div>
        <div class="col-md-2">
            <a asp-page="AggiungiBrano" class="bottonebrano btn border-black"
                style="background-color: rgb(216, 228, 255);">Aggiungi brano <i class="fa fa-plus"></i></a>
        </div>

    </div>
    <table class="table table-striped table-bordered align-middle mt-3">
        <thead>
            <tr>

                <th scope="col" class="colonnePiuPiccole">#</th>
                <th scope="col" class="colonnePiccole">IMG</th>
                <th scope="col" class="ps-4">Titolo</th>
                <th scope="col" class="ps-4"></th>
                <th scope="col" class="colonneBottone"></th>

            </tr>
        </thead>
        <tbody>

            @foreach (var brano in Model.Brani)
            {
                <tr>
                    <th scope="row">@brano.Id</th>
                    <td>
                        <div class=" h-25 d-inline-block " style="width: 80px">
                            <a asp-page="BranoDettaglio" asp-route-id="@brano.Id">
                                <img src=@brano.Immagine width="70" height="70" class="img rounded ms-1" alt="image">
                            </a>
                        </div>




                    </td>
                    <td class="ps-4">@brano.Titolo</td>


                    <td class="colonnePiccole fs-6 ps-3">
                        <a asp-page="BranoDettaglio" class="ms-2" asp-route-id="@brano.Id">Info</a>
                    </td>


                    <td>
                        <a asp-page="AggiungiAPlaylist" asp-route-id="@brano.Id" class="btn btn-dark">Aggiungi a
                            playlist
                            <i class="fa fa-plus"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>


    <br><br><br><br><br>

    <div style="height: 100px;">
        <form method="get">
            <input type="hidden" name="cercaArtista" value="@Request.Query["cercaArtista"]" />
            <input type="hidden" name="cercaTitolo" value="@Request.Query["cercaTitolo"]" />
        </form>
    </div>
