@page
@model PlaylistModel
@{
    ViewData["Title"] = "Playlist";
}
<style>
    .colonneBottone {
        width: 150px;
    }

    .colonnePiccole {
        width: 70px;
    }

    .colonnePiuPiccole {
        width: 40px;
    }

    .btn {
        font-size: x-small;
    }

    body {
        font-family: Montserrat;
    }

    a {
        color: rgb(0, 0, 0);
    }

    .form-check-input{
        width: 20px;
        height: 20px;
    }
</style>
</style>
<form method="post" asp-page="RimuoviDaPlaylist">
    <div class="container-sm">

        <div class="d-flex justify-content-between align-items-center ">
            <h1 class="display-6 p-3 text-muted">La tua Playlist</h1>
        </div>

        <table class="table table-striped table-bordered align-middle mt-3">
            <thead>
                <tr>

                    <th scope="col" class="colonnePiuPiccole">#</th>
                    <th scope="col" class="colonnePiccole ps-4">IMG</th>
                    <th scope="col" class="ps-4">Titolo</th>
                    <th scope="col" class="ps-4"></th>
                    <th scope="col" class="colonnePiuPiccole fw-medium ">Seleziona</th>

                </tr>
            </thead>
            <tbody>

                @if (Model.Playlists != null)
                {
                   

                    @foreach (var brano in Model.Playlists)
                    {


                        <tr>
                            <th scope="row">@brano.Id</th>
                            <td>
                                <div class="h-25 d-inline-block" style="width: 80px">
                                    <img src=@brano.Immagine width="70" height="70" class="img rounded" alt="image">
                                </div>




                            </td>
                            <td class="ps-4">@brano.Titolo</td>
                            <td class="colonnePiccole fs-6 ps-3">
                                <a asp-page="BranoDettaglioPlaylist" asp-route-id="@brano.Id">Info</a>
                            </td>
                            
                            <td>
                                <div class="d-flex justify-content-center  ">
                                    <div class="form-check">

                                        <input class="form-check-input " type="checkbox" name="selezionatiBrani"
                                            value="@brano.Id">

                                        <label class="form-check-label" for="flexCheckDefault">
                                        </label>

                                    </div>
                                </div>
                                @* <a asp-page="RimuoviDaPlaylist" asp-route-id="@brano.Id" class="btn btn-dark">Rimuovi da
                        playlist
                        <i class="fa fa-minus"></i></a> *@
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <br>
    <div class="d-flex justify-content-end me-2   ">
        <button type="submit" class="btn btn-dark" asp-asp-page="Playlist">Rimuovi dalla Playlist <i
                class="fa fa-minus"></i></button>
    </div>
</form>
<br><br><br><br>